@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
      url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
      url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
      url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --heading-black: color: #2D314D;;

}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: #f2f2f2;
  color: #9597A5;

}
.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  background-image: url(../img/hero-phones-desktop.svg),url(../img/hero-bg-desktop.svg);
  background-size: contain;
  background-position:  calc(50% + 300px) -190px, calc(50% + 300px) -190px;
  background-repeat: no-repeat;
  height: 800px;

}
.site_header {
  background-color: #fff;
}
.site__header-logo {
  padding-top: 33px;
  padding-bottom: 27px;
}
.site__header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  /* margin-right: auto; */
  padding: 0;
  list-style: none;
}
.sitenav__link {
  /* padding-bottom: 27px;
  padding-top: 32px; */
}
.sitenav__link:hover {
  color: #2D314D;
}
.sitenav__list-item {
  border: 3px solid transparent;
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
  border-bottom: 3px solid #333;
}

.sitenav__link {
  text-decoration: none;
  color: #9597A5;

}
.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 32px;
  color: #fff;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}
.button:hover {
  opacity: 0.4;
}
.site__hero-content {
  width: 447px;
  padding-top: 170px;
}
.site__hero-heading {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--heading-black);
  margin-top: 0;
  margin-bottom: 24px;
}
.site__hero-text {
  margin-top: 0;
  margin-bottom: 36px;
}