@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
    url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
    url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --heading-black: #2d314d;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #9597a5;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-image: url(../img/hero-phones-desktop.svg),
    url(../img/hero-bg-desktop.svg);
  background-size: contain;
  background-position: calc(50% + 300px) -130px, calc(50% + 300px) -190px;
  background-repeat: no-repeat;
  height: 800px;
}

.site_header {
  background-color: #fff;
}

.site__header-logo {
  padding-top: 33px;
  padding-bottom: 27px;
}

.site__header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__list-item {
  border: 3px solid transparent;
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}

.sitenav__list-item:hover {
  margin-right: 30px;
  border-bottom: 3px solid #33d35e;
}

.sitenav__link {
  text-decoration: none;
  color: #9597a5;
}

.sitenav__link:hover {
  color: #2d314d;
}

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 32px;
  color: #fff;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
}

.button:hover {
  opacity: 0.4;
}

.site__hero-content {
  width: 447px;
  padding-top: 170px;
}

.site__hero-heading {
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--heading-black);
  margin-top: 0;
  margin-bottom: 24px;
}

.site__hero-text {
  margin-top: 0;
  margin-bottom: 36px;
}

.feature__top {
  width: 635px;
}

.feature {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #f4f5f7;
}

.feature__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 72px;
  letter-spacing: -0.28125px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.feature__list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: -30px;
  padding-left: 0;
}

.feature__item {
  width: 255px;
  margin-left: 30px;
}

.feature__item-headeing {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
}

.feature__item-headeing::before {
  content: "";
  background-image: url(../img/card.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.dollar::before {
  content: "";
  background-image: url(../img/dollor.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.people::before {
  content: "";
  background-image: url(../img/people.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.it::before {
  content: "";
  background-image: url(../img/it.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.article__heading {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.feature__item-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.article__list {
  display: flex;
  margin: 0;
  margin-left: -30px;
  padding-left: 0;
  padding-bottom: 87px;
  list-style: none;
}

.ariticle__list-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.article__list-img {
  margin-left: 30px;
}

.article_content {
  /* padding: 24px; */
  width: 231px;
  padding: 24px;
}

.article__list-author {
  text-transform: capitalize;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
}
.article__list-heading {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  margin-top: 0;
  margin-bottom: 0;
}
.ariticle__list-text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597a5;
}
.site__footer {
  background-color: #2d314d;
  padding-top: 48px;
  padding-bottom: 48px;
}
.link {
  background-color: #fff;
}
